# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: LT Collective
description: LT Collective is a collection of Lauren Thompson's adventure in time and space.
url: "/" # the base hostname & protocol for your site, e.g. http://example.com

google_analytics:
color: '#000'

# Social links
facebook_url: https://www.facebook.com/laurenemmadavis
instagram_url: https://www.instagram.com/thomo120
email_url: happyflashmob@gmail.com

# Build settings
markdown: kramdown
plugins_dir:
  - jekyll-feed
  - jekyll-timeago

permalink: /:categories/:title/
post_dirs: false

collections:
  category:
    output: true

defaults:
  -
    scope:
      path: ""
      type: posts
    values:
      layout: post

  -
    scope:
      path: ""
      type: category
    values:
      layout: category


# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
   - Gemfile
   - Gemfile.lock
   - node_modules
   - gulpfile.js
   - package.json
   - assets/js/init.js
