$primary-color: #0DDEE1;
$body-color: #000;
$headline-color: #000;

$secondary-color: #000;
$preloader-bg: #fff;

$body-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$headline-font: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$header-bg: #fff;
$header-color: #000;
$header-color-hover: $primary-color;

$footer-bg: #fff;
$footer-color: #000;
$footer-color-hover: $primary-color;


*,
*:after,
*:before {
  box-sizing: inherit;
}

html, body {
	height: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $body-color;
  font-family: $body-font;
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 40rem) {
  body {
    font-size: 1.6rem;
  }
}

a {
    color: $primary-color;
    text-decoration: none!important;
    transition: color .2s linear;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
}

::-moz-selection {
	background-color: $primary-color;
	color: #fff;
}

::selection {
	background-color: $primary-color;
	color: #fff;
}

blockquote {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 36px;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 2.5rem;
}

blockquote:last-child {
  margin-bottom: 0;
}

@media (max-width: 40rem) {
  blockquote {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 28px;
  }
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: inline-block;
  padding: 13px 18px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  border: 2px solid $primary-color;
  border-radius: 6px;
  background: $primary-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .9;
  -webkit-appearance: none;
  -webkit-transition: opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1);
  transition: opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s;
}

.button:last-of-type,
button:last-of-type,
input[type='button']:last-of-type,
input[type='reset']:last-of-type,
input[type='submit']:last-of-type {
  margin-right: 0;
}

.button:last-child,
button:last-child,
input[type='button']:last-child,
input[type='reset']:last-child,
input[type='submit']:last-child {
  margin-bottom: 0;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  opacity: 1;
  color: #fff;
  box-shadow: 0 20px 38px rgba(0,0,0,.16)!important;
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  box-shadow: none!important;
  color: inherit;
  padding: 0;
  border: none;
  font-family: $headline-font;
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  color: inherit;
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: $primary-color;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  position: relative;
  background-color: transparent;
  border-color: inherit;
  opacity: .9;
  color: inherit!important;
}

.button.button-fullwidth,
button.button-fullwidth,
input[type='button'].button-fullwidth,
input[type='reset'].button-fullwidth,
input[type='submit'].button-fullwidth {
  width: 100%;
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: $primary-color;
  border-color: inherit;
  opacity: 1;
  color: #fff!important;
  border-color: $primary-color;
}

.button.button-clear.secondary-color:focus, .button.button-clear.secondary-color:hover,
button.button-clear.secondary-color:focus,
button.button-clear.secondary-color:hover,
input[type='button'].button-clear.secondary-color:focus,
input[type='button'].button-clear.secondary-color:hover,
input[type='reset'].button-clear.secondary-color:focus,
input[type='reset'].button-clear.secondary-color:hover,
input[type='submit'].button-clear.secondary-color:focus,
input[type='submit'].button-clear.secondary-color:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: $primary-color;
}

.button.has-icon span {
  margin-right: 18px;
}

.button.has-icon i {
  -webkit-transition: transform .45s cubic-bezier(.25,1,.33,1);
  transition: transform .45s cubic-bezier(.25,1,.33,1);
}

.button.has-icon:hover i {
  transform: translateX(3px);
  -webkit-transform: translateX(3px);
}

.button.fullwidth {
  width: 100%;
}

@media (max-width: 40rem) {
  .button,
  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    display: block;
    width: 100%;
  }
}

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid $primary-color;
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  color: #000!important;
  border: none;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  padding: 1.5rem 2rem;
  width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="$primary-color" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

textarea {
  min-height: 12rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.container {
  margin: 0 auto;
  max-width: 120.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  -ms-grid-row-align: center;
      align-self: center;
}

.row .column[class*="column-"].column-center:only-child {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

@media (max-width: 40rem) {
  .row .column[class*="column-"]:only-child {
      max-width: 100%;
      flex: auto;
  }
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:focus, a:hover {
  color: $body-color;
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}

ol {
  list-style: decimal inside;
  text-indent: -1.25em;
  padding-left: 1em;
}

ul {
  list-style: circle inside;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $headline-font;
  font-weight: 500;
  letter-spacing: -1px;
  margin-bottom: 2.0rem;
  margin-top: 0;
  color: $headline-color;
  line-height: 1.2;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 6.8rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.8rem;
}

@media (max-width: 40rem) {
  h1 {
    font-size: 3.0rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.0rem;
  }

  h4 {
    font-size: 1.8rem;
  }
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*# sourceMappingURL=milligram.css.map */
